.about__title {
  text-align: start;

  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.about__flexbox {
  @media screen and (min-width: $tablet) {
    display: flex;
  }
}

.about__photo {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: $tablet) {
    margin-right: 60px;
    flex-shrink: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 172px;
  }
}

.about__content {
  @media screen and (min-width: $tablet) {
    max-width: 402px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 660px;
  }
}

.about__name {
  margin-bottom: 8px;
  color: $mainColor;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.2;

  @media screen and (min-width: $desktop) {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.23;
  }
}

.about__list {
  padding: 20px 0 35px 0;
  border-top: 1px solid $lightColor;

  @media screen and (min-width: $tablet) {
    padding: 20px 0 45px 0;
  }
  @media screen and (min-width: $desktop) {
    padding: 32px 0 45px 0;
  }
}

.about__item {
  display: inline-flex;
  align-items: center;
  color: $mainColor;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.06em;

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    line-height: 1.25;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 17px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 25px;
    }
  }

  &::before {
    content: ' ';
    flex-shrink: 0;
    display: inline-block;
    width: 18px;
    height: 14px;
    margin-right: 9px;
    background-image: url('../images/about/about-check-icon.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 50%;

    @media screen and (min-width: $desktop) {
      width: 25px;
      height: 20px;
      margin-right: 35px;
      background-image: url('../images/about/about-check-icon_d.svg');
    }
  }
}

.about__text {
  color: $lightColor;
  font-weight: 500;

  @media screen and (min-width: $tablet) {
    font-size: 10px;
    line-height: 2;
  }

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.56;
  }

  &:not(last-child) {
    margin-bottom: 37px;
  }

  &::before {
    content: '';
    display: inline-block;
    margin-bottom: 20px;
    width: 20px;
    height: 2px;
    background-color: $accentColor;
  }
}

.about__paragraph {
  &:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-bottom: 28px;
    }
  }
}

.about__link {
  color: $accentColor;
  font-weight: 500;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.56;
  }

  &:hover,
  &:focus {
    color: #d23c05;
  }
}
