.benefits {
    padding-top: 0;
    padding-bottom: 0;
    background-image: linear-gradient($mainColor 63%, $bgColor2 63%);

    @media screen and (min-width: $tablet) {
        background-image: linear-gradient($mainColor 41%, $bgColor2 41%);                  
    }

    @media screen and (min-width: $tablet) {
        background-image: linear-gradient($mainColor 52%, $bgColor2 52%);                  
    }
}

.benefits__grid {
    margin: 0;
    padding: 20px 24px;
    background-color: $bgColor;
    list-style: none;
    counter-reset: li;

    @media screen and (min-width: $tablet) {
        margin: 0 -16px;
        padding: 40px 92px;
        display: flex;   
        flex-wrap: wrap;              
    }

    @media screen and (min-width: $tablet) {
        margin: 0;
        padding: 60px 32px 60px 140px;             
    }
}

.benefits__item {

    &:not(:last-child) {
        margin-bottom: 40px;
    }

    &::before {
        content: "— 0" (counter(li));
        counter-increment: li;
        font-weight: 700;
        font-size: 14px;
        color: $accentColor;

        @media screen and (min-width: $desktop) {      
            font-size: 20px;     
        }
    }

    @media screen and (min-width: $tablet) {  
        width: 236px;      
        margin: 22px 16px;      
    }

    @media screen and (min-width: $desktop) {      
        width: 356px;
        margin: 0;

        &:not(:last-child) {
            margin-bottom: 0;
        }

        &:nth-child(-n + 3) {
            margin-bottom: 40px;
        }

        &:not(:nth-child(3n)) {
            margin-right: 204px;
        }   
    }
}

.benefits__text {
    padding-top: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.43;

    @media screen and (min-width: $desktop) {      
        font-size: 20px;  
        line-height: 1.20;   
    }
}