// .container {
//   width: 100%;
//   padding: 0 20px;
//   margin: 0 auto;
// }

@media screen and (min-width: $mobile) {
  .container {
    width: $mobile;
    padding: 0 20px;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    width: $tablet;
    padding: 0 32px;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    width: $desktop;
    padding: 0 16px;
  }
}

// @media screen and (min-width: 1680px) {
//   .container {
//     width: 1680px;
//     padding: 0 16px;
//   }
// }

.contacts {
  background-color: $mainColor;
  background-image: url(../images/contacts-mob.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/contacts-mob-2x.png);
  }

  max-width: 1680px;
  margin: 0 auto;

  @media screen and (min-width: $tablet) {
    background-image: url(../images/contacts-tab.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts-tab-2x.png);
    }
  }
  @media screen and (min-width: $desktop) {
    background-image: url(../images/contacts-desktop.png);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/contacts-desktop-2x.png);
    }
  }
}

.contacts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts-title {
  font-weight: 800;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
  color: $bgColor;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 46px;
    width: 1090px;
  }
}

.contacts-text {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
  text-align: center;
  letter-spacing: 0.08em;
  margin-bottom: 41px;
  color: $bgColor;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 1.21;
    margin-bottom: 24px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.23;
    margin-bottom: 60px;
  }
}

.contacts-form {
  width: 100%;
  max-width: 336px;

  // @media screen and (min-width: $mobile) {
  //   max-width: 336px;
  // }
  @media screen and (min-width: $desktop) {
    max-width: 528px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
}

.input-wrap {
  margin-bottom: 40px;
  color: $bgColor;

  @media screen and (min-width: $tablet) {
    margin-bottom: 32px;
  }
  @media screen and (min-width: $tablet) {
    margin-bottom: 40px;
  }
}

.contacts-form-input {
  display: inline-block;
  //   width: 100%;
}

.contacts-form-input + .contacts-form-input {
  margin-top: 20px;

  @media screen and (min-width: $desktop) {
    margin-top: 32px;
  }
}

.contacts-form-input {
  width: 100%;
  border: 1px solid $bgColor;
  padding: 15px 0px 16px 28px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;

  transition: border-color 250ms linear, background-color 250ms linear;

  @media screen and (min-width: $desktop) {
    padding: 23px 0px 23px 24px;
    font-size: 20px;
    line-height: 1.2;
  }

  &:valid {
    border-color: $accentColor;
    // background-color: transparent;
  }
  &:focus {
    border-color: $accentColor;
    outline: none;
  }
  &:invalid {
    background-color: rgb(241, 61, 61);
  }
}

.contacts-form-input::placeholder {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.08em;
  color: $bgColor;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.contacts-form-input:placeholder-shown {
  background-color: transparent;
}

.contacts-form-input:not(:placeholder-shown) {
  border-color: $accentColor;
}

.contacts-button {
  display: block;
  width: 100%;
  height: 48px;
  text-align: center;

  color: $bgColor;
  background-color: $accentColor;
  border: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  transition: color 250ms linear, border 250ms linear,
    background-color 250ms linear;

  @media screen and (min-width: $desktop) {
    height: 70px;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
  }

  &:hover,
  &:focus {
    color: $accentColor;
    border: 2px solid $accentColor;
    background-color: transparent;
    outline: none;
  }
}
