.guarantee-container {
  padding: 0;
  max-width:100%;

  @media screen and (min-width: $tablet) {
    padding: 0 32px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 16px;
  }
}

ul,p {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

.guarantee-list {
  padding-top: 40px;
  padding-bottom: 40px;
  position:relative;
  background-color:#F1F1F1;
  
  @media screen and (min-width: $tablet) {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.guarantee-item__text {
  margin-left: 30px;
  line-height: 1.67;

  color: #3D3D3D;

  @media screen and (min-width: $tablet) {
    margin-left: 25px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 50px;
    font-size: 20px;
    line-height: 28px;
  }
}

.accent {
  color:#FF6B09;
}

.guarantee-title {
  margin-bottom: 40px;

  font-weight: 800;
  font-size: 26px;
  line-height: 1.30;
  text-align: center;
  letter-spacing: 0.03em;
  color: #111518;

  @media screen and (min-width: $desktop) {
    font-size: 46px;
  }
}

.guarantee-item + .guarantee-item {
  margin-top: 24px;

  @media screen and (min-width: $tablet) {
    margin-top: 20px;
  }
}

.guarantee-item {
  position:relative;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  &::before {
    content:'';
    position:absolute;
    display:flex;
    width:15px;
    height:20px;
  
    background-image:url('../images/small-fire.svg');
    background-size:cover;
    background-repeat: no-repeat;
    background-color:#F1F1F1;
    z-index:2;

    @media screen and (min-width: $desktop) {
      width:22px;
      height:30px;

      background-image:url('../images/big-fire.svg');
    }
  }

  &:not(:last-child)::after {
    content: "";
    width: 89px;
    border: 1px dashed #b9b9b9;
    position: absolute;
    transform: rotate(90deg);
    top: 59px;
    left: -37px;
  
    @media screen and (min-width: $tablet) {
      width: 40px;
      top: 40px;
      left: -13px;
    }
    @media screen and (min-width: $desktop) {
      width: 60px;
      top: 46px;
      left: -20px;
    }
  }

  @media screen and (min-width: $tablet) {
    max-width:560px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 1083px;
  }
}

.icon-background {
  width: 15px;
  height: 30px;
  position: absolute;
  background-color: #f1f1f1;
  z-index: 1;
  top: -5px;

  @media screen and (min-width: $desktop) {
    width:20px;
    height:40px;
  }
}