button {
  cursor: pointer;
}
.link {
  text-decoration: none;
  font-style: normal;
}

.no-scroll {
  overflow: hidden;
}

// .visually-hidden {
//   position: absolute;
//   white-space: nowrap;
//   width: 1px;
//   height: 1px;
//   overflow: hidden;
//   border: 0;
//   padding: 0;
//   clip: rect(0 0 0 0);
//   clip-path: inset(50%);
//   margin: -1px;
// }

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: $mobile) {
  .container {
    width: $mobile;
  }
}

@media screen and (min-width: $tablet) {
  .container {
    width: $tablet;
    padding: 0 32px;
  }
}

@media screen and (min-width: $desktop) {
  .container {
    width: $desktop;
    padding: 0 16px;
  }
}

// @media screen and (min-width: 1680px) {
//   .container {
//     width: 1680px;
//     padding: 0 16px;
//   }
// }

.header {
  // width: 100%;
  padding-top: 20px;
  background-color: $bgColor;
  background-color: $bgColor;

  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  @media screen and (min-width: $tablet) {
    padding-bottom: 0px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: $desktop) {
    max-width: 1680px;
  }
}

.logo {
  /* position: fixed; */
  color: $mainColor;
  font-weight: 800;
  font-size: 17px;
  line-height: 1.23;
  letter-spacing: 0.04em;

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }
}

.logo-top-part {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}

.menu-logo-icon {
  @media screen and (min-width: $tablet) {
    // display: none;
    width: 22px;
    height: 30px;
  }
}

.logo-en {
  text-transform: uppercase;
}

.logo-text {
  font-weight: 700;
  font-size: 5px;
  line-height: 1.2;
  letter-spacing: 0.18em;
  text-transform: uppercase;

  @media screen and (min-width: $tablet) {
    font-size: 8px;
    line-height: 1.25;
  }
}

.accent {
  color: $accentColor;
}

.navigation {
  display: flex;
  align-items: center;
  margin-left: auto;

  @media screen and (max-width: 1679px) {
    display: none;
  }
}

.site-nav__list {
  display: flex;
}

.site-nav__item {
  & + & {
    margin-left: 40px;
  }
}

.site-nav-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  text-transform: uppercase;
  color: $lightColor;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accentColor;
  }
  &.current {
    color: $accentColor;
  }
}

.header-buttons {
  display: flex;
  margin-left: auto;

  @media screen and (min-width: $tablet) {
    margin-left: 40px;
  }
}

.header-consult-button {
  display: none;
  @media screen and (min-width: $tablet) {
    display: block;
    width: 260px;
    height: 48px;
    text-align: center;
    color: $accentColor;
    border: 2px solid $accentColor;
    background-color: transparent;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.14em;
    text-transform: uppercase;
  }

  @media screen and (min-width: $desktop) {
    width: 336px;
    height: 70px;
  }

  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: $bgColor;
    background-color: $accentColor;
    outline: none;
  }
}

.menu-open-btn {
  display: block;
  margin-left: 40px;
  background-color: transparent;
  border: none;
}

@media screen and (min-width: $desktop) {
  .menu-open-btn {
    display: none;
  }
}

.menu-open-icon {
  transition: fill 250ms linear;

  .menu-open-btn:hover &,
  .menu-open-btn:focus & {
    fill: $accentColor;
  }
}

.mobile-menu {
  // display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(17, 21, 24, 0.9);
  width: 100vw;
  height: 100vh;
  padding: 20px 0px 0px 5px;
  transition: opacity 250ms linear, visibility 250ms linear;
  transform: scaleX(1);

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleX(0.5);
  }
}

.logo-mob-overlay {
  color: $bgColor;
}

.logo-wrap {
  margin-bottom: 40px;
}

.mobile-nav {
  display: flex;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  @media screen and (min-width: $tablet) {
    margin-left: auto;
    margin-right: auto;
  }
}

.mobile-menu-link {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: $bgColor;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: $accentColor;
  }
  &.current {
    color: $accentColor;
  }

  @media screen and (min-width: $tablet) {
    font-size: 26px;
  }
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu-close-btn {
  position: absolute;
  display: block;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
}

.menu-close-icon {
  fill: $bgColor;
  align-self: center;
  transition: fill 250ms linear;

  .menu-close-btn:hover &,
  .menu-close-btn:focus & {
    fill: $accentColor;
  }
}

.mobile-menu-button {
  display: block;
  width: 280px;
  height: 48px;
  text-align: center;
  color: $accentColor;
  border: 2px solid $accentColor;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: $bgColor;
    background-color: $accentColor;
    outline: none;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
