.hero {
    padding-bottom: 100px;
    background-color: $bgColor;
    background-image: url(../images/hero_bg.svg);
    background-size: 768px 622px;
    background-position: left calc(100vw / 7 - 110px) bottom;

    @media screen and (min-width: $tablet) {
        padding-left: 10px;
        padding-bottom: 166px;
        background-position: bottom center;
        background-size: 100% auto;                
    }

    @media screen and (min-width: $desktop) {
       padding-left: 0;
       padding-bottom: 304px;
    }
}

.hero__slogan {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    animation: appearance 250ms 500ms backwards;

    @media screen and (min-width: $tablet) {
        width: 332px;
        font-size: 26px;                  
    }

    @media screen and (min-width: $desktop) {
        width: 560px;
        font-size: 58px;                  
    }
}

.hero__description {
    margin-bottom: 40px;

    animation: increase 250ms 750ms backwards;

    @media screen and (min-width: $desktop) {
        margin-bottom: 48px;               
    }
}

.hero__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;  
    animation: increase 250ms 1000ms backwards;

    @media screen and (min-width: $desktop) {
        font-size: 20px;
        line-height: 1.65;              
    }    
}

.hero__text--weight {
    font-weight: 500;
    color: $lightColor;
}

.hero__text--color {
    color: $accentColor;
    @media screen and (min-width: $desktop) {
        color: $mainColor;           
    }   
}

.hero__guaranted {
    @media screen and (min-width: $desktop) {
        display: flex;               
    }
}

.hero__thumb {
    position: relative;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    @media screen and (min-width: $tablet) {
        margin: 0;                 
    }
}

.hero__link {
    width: 280px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-decoration: none;
    background-color: $accentColor;
    color: $bgColor;
    cursor: pointer;

    transition: color 250ms linear;

    animation: arrive-from-left 350ms 1250ms backwards;

    &:hover,
    &:focus {
        background-color: $bgColor;
        color: $accentColor;
        border: 2 solid $accentColor;
    }

    @media screen and (min-width: $tablet) {
        width: 260px;                
    }

    @media screen and (min-width: $desktop) {
        width: 354px; 
        height: 70px; 
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.14em;              
    }
    
}

.hero__image {
  
    animation: appearance 500ms backwards;

    @media screen and (min-width: $tablet) {
        position: absolute;
        top: -230px;
        left: 312px;                
    }

    @media screen and (min-width: $desktop) {
        top: -460px;
        left: 804px;              
    }
}

@keyframes appearance {
    0%  { transform: scale(0); }
    50% { transform: scale(0.5) rotate(180deg); }
    100%{ transform: scale(1) rotate(360deg); }
}

@keyframes increase {
    0%  { transform: scale(0); }
    50% { transform: scale(0.5); }
    100%{ transform: scale(1); }
}

@keyframes arrive-from-left {
    0%  { transform: translateX(-500px) scale(0); }
    50% { transform: translateX(-250px) scale(1); }
    100%{ transform: translateX(0); }
}