.hero {
    padding-bottom: 60px;
    background-image: url(../images/hero_bg_mobile.svg);
    background-position: 0 -49px;

    @media screen and (min-width: ($tablet)) {
        padding-left: 10px;
        padding-bottom: 126px;
        background-image: url(../images/hero_bg_tablet.svg);
        background-position: 0 -139px;                
    }

    @media screen and (min-width: ($desktop)) {
       padding-left: 0;
       padding-bottom: 264px;
        background-image: url(../images/hero_bg_desktop.svg);                
    }
}

.hero__slogan {
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;

    @media screen and (min-width: $tablet) {
        width: 332px;
        font-size: 26px;                  
    }

    @media screen and (min-width: $desktop) {
        width: 560px;
        font-size: 58px;                  
    }
}

.hero__description {
    margin-bottom: 40px;

    @media screen and (min-width: $desktop) {
        margin-bottom: 48px;               
    }
}

.hero__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.57;   
    @media screen and (min-width: $desktop) {
        font-size: 20px;
        line-height: 1.65;              
    }    
}

.hero__text--weight {
    font-weight: 500;
    color: $lightColor;
}

.hero__text--color {
    color: $accentColor;
    @media screen and (min-width: $desktop) {
        color: $mainColor;           
    }   
}

.hero__guaranted {
    @media screen and (min-width: $desktop) {
        display: flex;               
    }
}

.hero__thumb {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: $tablet) {
        align-items: flex-start;                
    }
}

.hero__button {
    width: 280px;
    height: 48px;
    padding: 0;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    background-color: $accentColor;
    color: $bgColor;
    border-width: 0;
    cursor: pointer;

    transition: color 250ms linear;

    &:hover,
    &:focus {
        background-color: $bgColor;
        color: $accentColor;
        border: 2 solid $accentColor;
    }

    @media screen and (min-width: $tablet) {
        width: 260px;                
    }

    @media screen and (min-width: $desktop) {
        width: 354px; 
        height: 70px; 
        font-size: 14px;
        line-height: 1.21;
        letter-spacing: 0.14em;              
    }
    
}

.hero__image {
    margin-top: 40px;

    @media screen and (min-width: $tablet) {
        position: absolute;
        top: -182px;
        left: 312px;
        margin-top: 0;                 
    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        top: -390px;
        left: 804px;
        margin-top: 0;                 
    }
}