.how-we-do{
  @extend .section;

  &__container{
    @extend .section__container;
  
  @media screen and (min-width: $mobile) {
      width: $mobile;
    }
  
    @media screen and (min-width: $tablet) {
      width: $tablet;
    }
  
    @media screen and (min-width: $desktop) {
      width: $desktop;
    }
  }

    &__title{
     @extend .section__title;
    }

    &__list {
      @extend .list;
    }
  
    &__item {
      background: $bgColor;
      box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
    }

    &__item:hover{
      color: $bgColor;
      background-color: $accentColor;
    }

    &__image{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__svg{
      margin-bottom: 20px;
      margin-top: 32px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 32px;
      }
    }

    &__pretitle{
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.08em;

      @media screen and (min-width: $tablet) {
        margin-bottom: 32px;
      }
    }

    &__text{
      font-size: 12px;
      line-height: 1.66;
      text-align: center;
      letter-spacing: 0.08em;
      padding: 0 11px 8px 11px;
      
      color: #B9B9B9;

      @media screen and (min-width: $desktop) {
        font-size: 18px;
        line-height: 1.55;
      }
    }
}