.how-we-do{
  @extend .section;

  &__container{
    @extend .section__container;

    @media screen and (min-width: $mobile) {
      width: $mobile;
    }
  
    @media screen and (min-width: $tablet) {
      width: $tablet;
    }
  
    @media screen and (min-width: $desktop) {
      width: $desktop;
    }
  }

    &__title{
      @extend .section__title;
    }

    &__list{
      @extend .list;
      @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px 24px;
      }
      @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
      }
    }
  
    &__item {
      background: $bgColor;
      box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);

      @media screen and (max-width: 767px) {
        margin-bottom: 16px;
        text-align: center;
        max-height: 280px;
      }
      @media screen and (min-width: $tablet) {
        flex-basis: calc((100% - 32px) / 2);
        
      }
      @media screen and (min-width: $desktop) {
        flex-basis: calc((100% - 64px) / 3);
        
      }
    }

    &__image{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__svg{
      margin-bottom: 20px;
      margin-top: 32px;
      fill: $accentColor;

      @media screen and (min-width: $tablet) {
          margin-bottom: 32px;
          margin-top: 40px;
        }
      
      @media screen and (min-width: $desktop) {
          margin-bottom: 40px;
          margin-top: 90px;
        }
    }

    &__pretitle-container{
      position: relative;
      text-align: center;
    }

    .--underline::after {
      content: "";
      position: absolute;
      margin-bottom: 10px;
      margin-top: 10px;
    
      height: 3px;
      width: 5%;
      background-color: $accentColor;
    
    }

    &__pretitle{
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.08em;
      margin-bottom: 4px;

      @media screen and (min-width: $tablet) {
        margin-bottom: 32px;
      }
    }

    &__text{
      font-size: 12px;
      line-height: 1.66;
      text-align: center;
      padding: 0 11px 8px 11px;
      
      color: $lightColor;

      @media screen and (min-width: $tablet) {
        padding-bottom: 40px;
      }

      @media screen and (min-width: $desktop) {
        font-size: 18px;
        line-height: 1.55;
        padding-bottom: 40px;
      }
    }
}
