.backdrop {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.692);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 700ms ease-in-out;
  background: rgba(17, 21, 24, 0.9);
  padding: 40px 20px;
  min-height: 520px;
  width: 100%;
  max-width: 400px;

  .backdrop.is-hidden & {
    transform: translate(10%, -100%) scale(0.2);
  }
}

.modal-close-btn {
  position: absolute;
  display: block;
  top: 15px;
  right: 15px;
  background-color: transparent;
  border: none;
}

.modal-close-icon {
  fill: $bgColor;
  align-self: center;
  transition: fill 250ms linear;

  .modal-close-btn:hover &,
  .modal-close-btn:focus & {
    fill: $accentColor;
  }
}

.modal-title {
  margin-bottom: 20px;
  font-size: 20px;
  width: 100%;
}

.modal-text {
  margin-bottom: 25px;
  font-size: 14px;
}

.modal-field {
  margin-bottom: 20px;
}

.modal-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  color: $lightColor;
}

.modal-checkbox {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
}

.modal-check {
  margin-left: 19px;
  margin-top: 12px;
}

.modal-logo {
  color: $bgColor;
  display: flex;
  align-items: center;
  margin-left: 4px;
}

.check-text {
  font-size: 12px;
  color: $bgColor;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.check-mark {
  width: 15px;
  height: 16px;
  border: 2px solid;
  border-color: $accentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 6px;

  .modal-check:checked + .check-text & {
    background-color: $accentColor;
  }
}

.check-icon {
  fill: transparent;

  .modal-check:checked + .check-text & {
    background-color: $accentColor;
    fill: $bgColor;
    background-origin: border-box;
  }
}

.button-modal {
  display: block;
  width: 100%;
  height: 48px;
  text-align: center;
  color: $accentColor;
  border: 2px solid $accentColor;
  background-color: transparent;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.25;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  transition: color 250ms linear, background-color 250ms linear;

  &:hover,
  &:focus {
    color: $bgColor;
    background-color: $accentColor;
    outline: none;
  }
}
