.program {
  position: relative;
  background-color: $mainColor;

  @media screen and (min-width: $tablet) and (max-width: 1679px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.program__title {
  color: $bgColor;

  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}

.program-list {
  position: relative;
  padding: 0 36px 65px 68px;
  counter-reset: li;
  overflow: visible;

  @media screen and (min-width: $tablet) {
    padding: 0 0 100px 185px;
  }

  @media screen and (min-width: $desktop) {
    margin-left: -20px;
    margin-right: -20px;
    padding: 40px 140px 157px 140px;
    display: flex;
  }

  &::before {
    content: ' ';
    position: absolute;
    display: inline-block;
    top: 14px;

    background-color: $bgColor;

    @media screen and (max-width: 767px) {
      left: 42px;
      bottom: 152px;
    }
    @media screen and (min-width: $tablet) and (max-width: 1679px) {
      left: 71px;
      bottom: 187px;
    }

    @media screen and (max-width: 1679px) {
      width: 1px;
      transform: translate(-50%, 0);
    }

    @media screen and (min-width: $desktop) {
      top: 0;
      left: calc(50% - 50vw);
      height: 1px;
      width: 100vw;
      transform: translateY(-50%);
    }
  }

  &::after {
    content: ' ';
    position: absolute;
    display: inline-block;
    bottom: -40px;
    width: 150px;
    height: 137px;
    overflow: hidden;
    background-image: url('../images/program/program_photo_m.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left top;

    @media screen and (max-width: 767px) {
      right: -20px;
    }

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/program/program_photo_m@2x.png');
    }

    @media screen and (min-width: $tablet) and (max-width: 1679px) {
      bottom: 0px;
      right: -32px;
      width: 368px;
      height: 268px;
      background-image: url('../images/program/program_photo_t.png');

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/program/program_photo_t@2x.png');
      }
    }

    @media screen and (min-width: $desktop) {
      width: 684px;
      height: 510px;
      left: 0;
      bottom: -209px;
      background-image: url('../images/program/program_photo_d.png');
      background-position: right top;

      @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/program/program_photo_d@2x.png');
      }
    }
  }
}

.program-list__item {
  position: relative;

  @media screen and (min-width: $desktop) {
    margin-left: 20px;
    margin-right: 20px;
    width: 240px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 1679px) {
      margin-bottom: 40px;
    }
  }

  &::before {
    content: (counter(li)) ' ';
    counter-increment: li;
    display: inline-block;
    margin-right: 5px;
    color: $bgColor;
    font-weight: 700;
    font-size: 14px;
    line-height: 2;

    @media screen and (min-width: $desktop) {
      font-size: 30px;
      line-height: 0.93;
    }
  }
}

.program-list__title {
  display: inline-block;
  margin-bottom: 10px;
  color: $bgColor;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;

  @media screen and (min-width: $desktop) {
    margin-bottom: 24px;
    font-size: 20px;
    line-height: 1.4;
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 14px;
    left: -26px;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;

    background-color: $accentColor;

    @media screen and (min-width: $tablet) {
      left: -114px;
    }

    @media screen and (max-width: 1679px) {
    }

    @media screen and (min-width: $desktop) {
      top: -40px;
      left: 0;
      transform: translate(0, -50%);
    }
  }
}

.category-list {
  @media screen and (min-width: $tablet) and (max-width: 1679px) {
    display: flex;
  }
}

.category-list__item {
  @media screen and (min-width: $tablet) {
    width: 155px;
  }
  @media screen and (min-width: $desktop) {
    width: 240px;
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
    @media screen and (min-width: $desktop) {
      margin-bottom: 24px;
    }

    @media screen and (min-width: $tablet) and (max-width: 1679px) {
      margin-right: 30px;
    }
  }
}

.category-list__title {
  display: inline-flex;
  align-items: center;
  margin-bottom: 10px;
  color: $accentColor;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    margin-bottom: 8px;
  }

  &::before {
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 12px;
    height: 1px;
    background-color: $accentColor;

    @media screen and (min-width: $desktop) {
      margin-right: 8px;
      width: 20px;
    }
  }
}

.topic-list__item {
  color: $lightColor;
  opacity: 0.5;
  font-weight: 500;

  @media screen and (min-width: $desktop) {
    font-size: 18px;
    line-height: 1.56;
  }
}
