.section-container {
  padding-left:20px;
  padding-right: 20px;
  max-width:480px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    padding: 0 32px;
    max-width: 900px;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 16px;
    max-width:100%;
  }
}

#more,
#more_2,
#more_3,
#more_4,
#more_5,
#more_6,
#more_7 {
  display:none;
}

.hidden {
  display:none;

  @media screen and (min-width: $tablet) {
    display:block;
  }
}

.article-box {
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: $desktop) {
    padding-bottom: 60px;
    box-shadow: none;
  }
}

.inner-box {
  @media screen and (min-width: $tablet) {
    display: flex;
    width: 704px;
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    width: 1088px;
    padding-left: 81px;
    padding-bottom: 55px;
    margin-right: auto;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
    }
}

.section-title {
  margin-left: auto;
  margin-right: auto;

  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;

  text-align: center;
  letter-spacing: 0.03em;

  color: #111518;
}

.review-title {
  max-width:280px;
  margin-bottom: 24px;

  @media screen and (min-width: $tablet) {
    max-width:688px;
    font-size: 26px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $desktop) {
    max-width:866px;
    font-size: 46px;
  }
}

.img-box {
  width:90px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @media screen and (min-width: $tablet) {
    width: 150px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 15px;
  }
}

img {
  width:90px;
  height:90px;

  @media screen and (min-width: $tablet) {
    width:150px;
    height:150px;
  }
}

.fb-link {
  display:block;
  width:32px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  fill:#4267B2;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      fill:#FF6B09;
    }
}

.article__text-box {
  @media screen and (min-width: $tablet) {
    padding-top: 40px;
    margin-left: 44px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
    margin-left: 40px;
  }
}

.article__content-box {
  @media screen and (min-width: $tablet) {
    padding-top: 40px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 60px;
  }
}

.article-title {
  margin-bottom: 16px;

  font-weight: 800;
  font-size: 14px;
  line-height: 1.21;

  text-align: center;
  letter-spacing: 0.08em;

  color: #FF6B09;

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    text-align-last: left;
  }

  @media screen and (min-width: $desktop) {
    font-size: 30px;
    margin-bottom: 8px;
  }
}

.article-list{
  text-align: center;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tablet) {
    text-align: left;
    max-width:412px;
  }

  @media screen and (min-width: $desktop) {
    max-width:706px;
    font-size:18px;
    line-height: 1.56;
  }
}

.scroll-box {
  overflow-y: scroll;
  height:180px;
  margin-top: 16px;

  @media screen and (min-width: $tablet) {
    height:140px;
  }

  @media screen and (min-width: $desktop) {
    height:170px;

    &::-webkit-scrollbar {
      display: none;
  }
  }
}

#myLink,
#myLink_2,
#myLink_3,
#myLink_4,
#myLink_5,
#myLink_6,
#myLink_7 {
  cursor:pointer;

  color:tomato;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color:rgb(242, 168, 155);
  }
}

.article-list--gray {
  color:#B9B9B9;
  font-size:14px;
  line-height: 1.41;

  @media screen and (min-width: $desktop) {
    max-width:482px;
    margin-left: 0;
  }
}

.box-shadow {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: $desktop) {
    width:1205px;
  }
}

.swiper {
  width: 100%;
  height: 620px;

  @media screen and (min-width: $tablet) {
    height:400px;
  }

  @media screen and (min-width: $desktop) {
    height:480px;
  }
}

.swiper-slide {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  @media screen and (min-width: $tablet)  {
    align-items: flex-start;
  }
}

.swiper-wrapper {
  @media screen and (min-width: $tablet) {
    height: 80%;
  }
}

.swiper-button-next, .swiper-button-prev {
  top:93%;

  @media screen and (min-width: $tablet) {
    top:45%;
  }
}

.swiper-pagination-bullet {
  width:54px;
  height:54px;
  background:none;
  opacity:1;

  background-position: center;
  background-size: cover;
}

.swiper-pagination-bullet:first-child {
  background-image: url('../images/main-girl.jpg');
}

.swiper-pagination-bullet:nth-child(2) {
  background-image: url('../images/girl-2.jpg');
}

.swiper-pagination-bullet:nth-child(3) {
  background-image: url('../images/girl-1.jpg');
}

.swiper-pagination-bullet:nth-child(4) {
  background-image: url('../images/girl-4.jpg');
}

.swiper-pagination-bullet:nth-child(5) {
  background-image: url('../images/girl-5.jpg');
}

.swiper-pagination-bullet:nth-child(6) {
  background-image: url('../images/girl-3.jpg');
}

.swiper-pagination-bullet:nth-child(7) {
  background-image: url('../images/girl-6.jpg');
}

.swiper-pagination-bullet-active {
  border:1px solid #FF6B09;
}

.swiper-button-next, .swiper-button-prev {
  color:#FF6B09;
}

.swiper-button-next {
  right:0;
}

.swiper-button-prev {
  left:0;
}

.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom:10px;

  @media screen and (min-width: $tablet) {
    bottom:0;
  }
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, 
.swiper-pagination-horizontal.swiper-pagination-bullets 
.swiper-pagination-bullet {
  @media screen and (min-width: $tablet) {
    margin-left:32px;
  }

  @media screen and (min-width: $desktop) {
    margin-left:40px;
  }
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: "";
  background-image: url('../images/next.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 15px;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: "";
  background-image: url('../images/prev.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 15px;
}