$mainColor: #111518;
$lightColor: #b9b9b9;
$accentColor: #ff6b09;
$bgColor:#ffffff;
$bgColor2:#e5e5e5;
$secondBgColor: #f1f1f1;
$secondTextColor: #3d3d3d;
$iconColor: #436EAB;

$mobile: 480px;
$tablet: 768px;
$desktop: 1680px;
