<section class="section section--background">
    <div class="section__container">
        <h2 class="visibility-hidden">Advantages</h2>
        <ul class="list advantages">
            <li class="advantages__item">
                <div class="advantages__picture">
                    <svg class="advantages__icon" width="33" height="40">
                        <use href="images/adv-icons.svg#author"></use>
                    </svg>
                </div>
                <div class="advantages__description">
                    <p class="advantages__text">Adapted author's <br> UPE program</p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__picture">
                    <svg class="advantages__icon advantages__icon--size">
                        <use href="images/adv-icons.svg#teaching"></use>
                    </svg>                    
                </div>
                <div class="advantages__description">
                    <p class="advantages__text">Modern <br> teaching methods</p>
                </div>
            </li>
            <li class="advantages__item">
                <div class="advantages__picture">
                    <svg class="advantages__icon advantages__icon--width">
                        <use href="images/adv-icons.svg#guarantee"></use>
                    </svg>                   
                </div>
                <div class="advantages__description">
                    <p class="advantages__text">Financial guarantee <br> the result</p>
                </div>  
            </li>
        </ul> 
    </div>
</section>