<section class="section benefits">
  <div class="section__container">
    <h2 class="section__title section__title--color">
      Why do people choose us
    </h2>
    <div class="benefits__thumb">
      <ul
        class="benefits__grid"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
        data-aos-duration="2100"
      >
        <li class="benefits__item">
          <p class="benefits__text">Training in small groups</p>
        </li>
        <li class="benefits__item">
          <p class="benefits__text">Rendered notes</p>
        </li>
        <li class="benefits__item">
          <p class="benefits__text">
            Each lesson has a goal and a specific result
          </p>
        </li>
        <li class="benefits__item">
          <p class="benefits__text">The real results of the teacher</p>
        </li>
        <li class="benefits__item">
          <p class="benefits__text">
            The course program meets the requirements of the MES of Ukraine
          </p>
        </li>
        <li class="benefits__item">
          <p class="benefits__text">Set of groups by level of knowledge</p>
        </li>
      </ul>
    </div>
  </div>
</section>
