<section id="contacts" class="section contacts">
  <div class="container contacts-container">
    <h2
      class="contacts-title"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="1500"
    >
      Registration for a <span class="accent">free</span> phone
      <span class="accent">consultation</span> on the nuances of English UPE
    </h2>
    <p
      class="contacts-text"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="2100"
    >
      Leave a request for participation in a
      <span class="accent">free lesson</span>. <br />
      A consultant will contact you and answer your questions
    </p>
    <form
      class="contacts-form"
      name="contacts-form"
      autocomplete="on"
      data-aos="fade-up"
      data-aos-anchor-placement="top-bottom"
      data-aos-duration="2100"
    >
      <div class="form-container">
        <div class="input-wrap">
          <input
            type="text"
            class="contacts-form-input"
            name="user-name"
            id="user-name"
            placeholder="Name*"
            minlength="3"
            maxlength="30"
            required
          />
          <input
            type="tel"
            class="contacts-form-input"
            name="user-tel"
            id="user-tel"
            placeholder="Phone*"
            title="+380ххххххххх"
            pattern="\+380\d{9}"
            minlength="13"
            maxlength="13"
            required
          />
        </div>
        <button type="submit" class="button contacts-button">
          I want a free lesson
        </button>
      </div>
    </form>
  </div>
</section>
