<footer class="footer">
  <div class="container footer-nav">
    <div class="footer-logo-container">
      <a href="./index.html" class="logo logo-mob link">
        <div class="logo-top-part">
          <p>Hell</p>
          <svg class="menu-logo-icon" width="14" height="19">
            <use href="./images/icons-m.svg#icon-fire"></use>
          </svg>
          <p class="logo-en">EN</p>
        </div>
        <p class="logo-text"><span class="accent">Hellish </span>english</p>
      </a>
    </div>
    <div class="footer-contacts">
      <div class="footer-phone">
        <span class="footer-phone-icon"></span>
        <!-- <svg class="footer-phone-icon" width="20" height="19">
          <use href="./images/icons-m.svg#icon-phone"></use>
        </svg> -->
        <a href="tel:+38(000)0000000" class="footer-tel link"
          >+38 (000) 000 00 00</a
        >
      </div>
      <div class="footer-instagram">
        <a
          class="footer-instagram-link"
          href="https://www.instagram.com/"
          target="_blank"
          rel="noreferrer noopener"
        ></a>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-bottom-text">&#64; All rights reserved, 2019</p>
  </div>
</footer>
