<header class="header">
  <div class="container header-nav">
    <a href="./index.html" class="logo logo-mob link">
      <div class="logo-top-part">
        <p>Hell</p>
        <svg class="menu-logo-icon small" width="14" height="19">
          <use href="./images/icons-m.svg#icon-fire"></use>
        </svg>
        <svg class="menu-logo-icon big" width="22" height="30">
          <use href="./images/icons-m.svg#icon-fire"></use>
        </svg>
        <p class="logo-en">EN</p>
      </div>
      <p class="logo-text"><span class="accent">Hellish </span>english</p>
    </a>
    <nav class="navigation">
      <ul class="site-nav__list list">
        <li class="site-nav__item">
          <a href="#" class="site-nav-link link">Studying program</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav-link link current">About</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav-link link">Training options</a>
        </li>
        <li class="site-nav__item">
          <a href="#" class="site-nav-link link">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="header-buttons">
      <button type="button" class="header-nav-button">
        Consultation by phone
      </button>
      <button type="button" class="menu-open-btn">
        <svg class="menu-open-icon" width="21" height="14">
          <use href="./images/icons-m.svg#icon-menu-open"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="mobile-menu is-hidden">
    <div class="container">
      <button type="button" class="menu-close-btn">
        <svg class="menu-close-icon" width="16" height="16">
          <use href="./images/icons-m.svg#icon-menu-close"></use>
        </svg>
      </button>
      <div class="logo-wrap">
        <a href="./index.html" class="logo logo-mob-overlay link">
          <div class="logo-top-part">
            <p>Hell</p>
            <svg class="menu-logo-icon small" width="14" height="19">
              <use href="./images/icons-m.svg#icon-fire"></use>
            </svg>
            <svg class="menu-logo-icon big" width="22" height="30">
              <use href="./images/icons-m.svg#icon-fire"></use>
            </svg>
            <p class="logo-en">EN</p>
          </div>
          <p class="logo-text"><span class="accent">Hellish </span>english</p>
        </a>
      </div>
      <div class="mobile-nav">
        <ul class="mobile-menu__list list">
          <li class="mobile-menu__item">
            <a href="#" class="mobile-menu-link link">Studying program</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#about" class="mobile-menu-link link current">About</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#" class="mobile-menu-link link">Training options</a>
          </li>
          <li class="mobile-menu__item">
            <a href="#contacts" class="mobile-menu-link link">Contacts</a>
          </li>
        </ul>
      </div>
      <button type="button" class="button mobile-menu-button">
        Consultation by phone
      </button>
    </div>
  </div>
</header>
