<section class="section hero">
    <div class="section__container">
        <h1 class="hero__slogan">Complex preparation for English UPE</h1>
        <div class="hero__description">
            <p class="hero__text hero__text--weight">It won’t be easy.</p>
            <div class="hero__guaranted">
                <p class="hero__text">But you’re guaranteed to get&nbsp</p>
                <p class="hero__text hero__text--color">+25 points</p>
            </div>
        </div>
        <div class="hero__thumb">
            <button class="hero__button" type="button" onclick="window.location.href = ">I want a free lesson</button>
            <picture class="hero__image">
                <source
                    srcset="images/hero_mobile.webp 1x, images/hero_mobile@2x.webp 2x"
                    media="(max-width: 767px)"
                />
                <source
                    srcset="images/hero_tablet.webp 1x, images/hero_tablet@2x.webp 2x"
                    media="(max-width: 1679px)"
                />
                <source
                    srcset="images/hero_desktop.webp 1x, images/hero_desktop@2x.webp 2x"
                    media="(min-width: 1680px)"
                />
                <img
                    src="images/hero_desktop.webp"
                    alt="work with students"
                />
            </picture>
        </div>
    </div>
</section>