.section {
    padding-top: 40px;
    padding-bottom: 40px;

    @media screen and (min-width: $desktop) {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.section__container {
    max-width: $mobile;
    margin: 0 auto;
    padding: 0 20px;

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        padding: 0 32px;
    }

    @media screen and (min-width: $desktop) {
        max-width: $desktop;
        padding: 0 16px;
    }
}

.section__title {
    margin-bottom: 32px;
    font-weight: 800;
    font-size: 20px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-align: center;
    color: $mainColor;

    @media screen and (min-width: $tablet) {
        margin-bottom: 40px;
        font-size: 26px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 80px;
        font-size: 46px;
        text-align: start;
    }
}

.section--background {
    background-color: $bgColor2;
}